<footer>
  <div class="footer-content">
    <div class="footer">
      <div>
        <p>&copy; 2022 <a href="https://github.com/kokonut27/pictorama/">kokonut27</a></p>
      </div>
      <div>
        <p><a href="https://github.com/kokonut27/pictorama/blob/main/LICENSE">Pictorama Project Licensing Information</a>.</p>
      </div>
      <div>
        <p><a href="/rules">Pictorama Guidelines</a>.</p>
      </div>
    </div>
  
    <div class="help">
      <ul>
        <li style="list-style-type: disc;"><a href="https://github.com/kokonut27/pictorama">Edit On GitHub</a></li>
        <li style="list-style-type: disc;"><a href="https://github.com/kokonut27/pictorama/issues">Report Pictorama Issue</a></li>
        <li style="list-style-type: disc;"><a href="mailto:beol0127@gmail.com">Get Help</a></li>
        <li style="list-style-type: disc;"><a href="https://github.com/kokonut27/pictorama/pulls">Contributing For Pictorama</a></li>
      </ul>
    </div>
  </div>
</footer>