<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/logo.png">
    <title>Pictorama</title>
  </head>
  
  <body>
    <nav>
      <div class="navbar">
        <div class="title">
          <a href="/">
            <h1>Pictorama</h1>
          </a>
        </div>
        <ul class="nav-links">
          <li><a class="nav-link nav-link-1" href="/">Home</a></li>
          <li><a class="nav-link nav-link-2" href="/post">Post</a></li>
          <li><a class="nav-link nav-link-3" href="/explore">Explore</a></li>
          <li><a class="nav-link nav-link-4" href="/draw">Draw</a></li>
          <li><a class="nav-link nav-link-5" href="/rules">Rules</a></li>
          <% if (loggedin) { %>
            <li><a class="nav-link nav-link-6" href="/profile">Profile</a></li>
          <% } else { %>
            <li><a class="nav-link nav-link-6" href="/signup">Signup</a></li>
          <% } %>
        </ul>
      </div>
    </nav>

    <br>

    <div class="content">
      <h1>Pictorama</h1>
      <br>
      <h2>About Pictorama</h2>
      <p>Pictorama is a combination of your regular canvas app and that one popular social media app! Pictorama is completely free, no hidden fees, and is hate free as well! We try to keep our community clean with <a href="/rules">guidelines</a> - which we strongly suggest you look at before posting - which makes Pictorama the perfect social <em>and</em> drawing site.</p>
      <br></br>
      <h2>Additional Features</h2>
      <br></br>
      <div class="features">
        <div class="inside-features left-f">
          <h3>Incredibly fast</h3>
          <p>Pictorama is incredibly fast, and uses minimal data to store your pictures! We're completely private with your data, and store it safely.</p>
        </div>

        <br></br><br>

        <div class="inside-features right-f">
          <h3>Easy to use and recognisable</h3>
          <p>Pictorama is easy to use, and has every drawing tool right at your disposal. We're also very memorable, so that you remember every part of Pictorama.</p>
        </div>

        <br></br><br>

        <div class="inside-features left-f">
          <h3>No hidden fees</h3>
          <p>We have no hidden fees, <em>at all</em>, which makes things much more pain-free! We promise you that everything is free, and you'll enjoy it - 100%.</p>
        </div>
      </div>
      <br></br>
      <h2>Why don't you try us out?</h2>
      <br>
      <a href="/signup"><input type="button" value="Sign up now!" class="button"></a>
    </div>
    <%- include('footer'); -%>
  </body>
</html>