<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/logo.png">
    <title>Pictorama</title>
  </head>
  
  <body>
    <nav>
      <div class="navbar">
        <div class="title">
          <a href="/">
            <h1>Pictorama</h1>
          </a>
        </div>
        <ul class="nav-links">
          <li><a class="nav-link nav-link-1" href="/">Home</a></li>
          <li><a class="nav-link nav-link-2" href="/post">Post</a></li>
          <li><a class="nav-link nav-link-3" href="/explore">Explore</a></li>
          <li><a class="nav-link nav-link-4" href="/draw">Draw</a></li>
          <li><a class="nav-link nav-link-5" href="/rules">Rules</a></li>
          <% if (loggedin) { %>
            <li><a class="nav-link nav-link-6" href="/profile">Profile</a></li>
          <% } else { %>
            <li><a class="nav-link nav-link-6" href="/signup">Signup</li>
          <% } %>
        </ul>
      </div>
    </nav>

    <br>

    <div class="content">
      <h1>Pictorama</h1>
      <br>
      <h2>About Pictorama</h2>
      <p>Pictorama is a combination of your regular canvas app and that one popular social media app! Pictorama is completely free, no hidden fees, and is hate free as well! We try to keep our community clean with <a href="/rules">guidelines</a> - which we strongly suggest you look at before posting - which makes Pictorama the perfect social <em>and</em> drawing site.</p>
      <br></br>
      <a href="/signup"><input type="button" value="Sign up now!" class="button"></a>
    </div>
  </body>
</html>