<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/logo.png">
    <title>Pictorama | Post</title>
  </head>
  
  <body> 
    <nav>
      <div class="navbar">
        <div class="title">
          <a href="/">
            <h1>Pictorama</h1>
          </a>
        </div>
        <ul class="nav-links">
          <li><a class="nav-link nav-link-1" href="/">Home</a></li>
          <li><a class="nav-link nav-link-2" href="/post">Post</a></li>
          <li><a class="nav-link nav-link-3" href="/explore">Explore</a></li>
          <li><a class="nav-link nav-link-4" href="/draw">Draw</a></li>
          <li><a class="nav-link nav-link-5" href="/rules">Rules</a></li>
          <% if (loggedin) { %>
            <li><a class="nav-link nav-link-6" href="/profile">Profile</a></li>
          <% } else { %>
            <li><a class="nav-link nav-link-6" href="/signup">Signup</a></li>
          <% } %>
        </ul>
      </div>
    </nav>

    <br>

    <div class="whole-content">
      <div class="content">
        <h1>Post</h1>
        <br>
        <form method="POST" action="/post">
          <input class="input" name="title" type="text" placeholder="Title" required>
          <br></br>
          <textarea rows="7" cols="25" class="content-input" name="content" placeholder="Content..." required></textarea>
          <br>
          <label for="files" title="Insert pictures into your post!" class="insert-pic-post">Insert pictures!</label>
          <input id="files" style="visibility: hidden; content: ''; display: none;" name="file" type="file" multiple>
          <br></br><br>
          <input class="button" type="submit" value="Post">
        </form>
      </div>
  
      <%- include('footer'); -%>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>        
  </body>
</html>