<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/logo.png">
    <title>Pictorama | Rules</title>
  </head>
  
  <body> 
    <nav>
      <div class="navbar">
        <div class="title">
          <a href="/">
            <h1>Pictorama</h1>
          </a>
        </div>
        <ul class="nav-links">
          <li><a class="nav-link nav-link-1" href="/">Home</a></li>
          <li><a class="nav-link nav-link-2" href="/post">Post</a></li>
          <li><a class="nav-link nav-link-3" href="/explore">Explore</a></li>
          <li><a class="nav-link nav-link-4" href="/draw">Draw</a></li>
          <li><a class="nav-link nav-link-5" href="/rules">Rules</a></li>
          <% if (loggedin) { %>
            <li><a class="nav-link nav-link-6" href="/profile">Profile</a></li>
          <% } else { %>
            <li><a class="nav-link nav-link-6" href="/signup">Signup</a></li>
          <% } %>
        </ul>
      </div>
    </nav>

    <br>

    <div class="whole-content">
      <div class="content guidelines">
        <h1>Posting guidelines</h1>
        <li><h4>Last updated: 4/10/2022</h4></li>
        <br>
        <ul>
          <li><h2>1. No bad words or cussing.</h2></li>
          <!-- explain in more detail here with <p> -->
          <li><p>When posting, the post must not include any cussing or any form of bad word. This is to keep our community safe, clean, and SFW.</p></li>
          <br></br>
          <li><h2>2. No spamming content.</h2></li>
          <li><p>Don't spam posts, comments, or any other form of posting. This will lead to clogging <a href="/explore">Explore</a> and unnecessary posts. Please keep in mind that our moderators are watching for these kinds of posts.</p></li>
          <br></br>
          <li><h2>3. Don't create alt accounts to 'heart spam'.</h2></li>
          <li><p>This is to prevent too much accounts from being made and to prevent "fake" posts. Any alt accounts leading to this action will be banned or deleted.</p></li>
          <br></br>
          <li><h2>4. No copying and plagiarism.</h2></li>
          <li><p>This is an obvious rule - don't copy and paste drawings from online and post them as yours. Put effort into your own drawings and don't copy.</p></li>
          <br></br>
          <li>Any actions against these guidelines will result in banning, locking accounts, or other.</li>
        </ul>
        <h5>Pictorama is licensed under the <a href="https://github.com/kokonut27/pictorama/blob/main/LICENSE">MIT License.</a></h5>
      </div>
      <%- include('footer'); -%>  
    </div>
  </body>
</html>