<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/logo.png">
    <title>Pictorama | Rules</title>
  </head>
  
  <body> 
    <nav>
      <div class="navbar">
        <div class="title">
          <a href="/">
            <h1>Pictorama</h1>
          </a>
        </div>
        <ul class="nav-links">
          <li><a class="nav-link nav-link-1" href="/">Home</a></li>
          <li><a class="nav-link nav-link-2" href="/post">Post</a></li>
          <li><a class="nav-link nav-link-3" href="/explore">Explore</a></li>
          <li><a class="nav-link nav-link-4" href="/draw">Draw</a></li>
          <li><a class="nav-link nav-link-5" href="/rules">Rules</a></li>
          <% if (loggedin) { %>
            <li><a class="nav-link nav-link-6" href="/profile">Profile</a></li>
          <% } else { %>
            <li><a class="nav-link nav-link-6" href="/signup">Signup</li>
          <% } %>
        </ul>
      </div>
    </nav>

    <br>

    <div class="content">
      <h1>Posting guidelines</h1>
      <br>
      <ul>
        <li>1. No bad words or cussing.</li>
        <li>2. No spamming content.</li>
        <li>3. Don't create alt accounts to 'heart spam'.</li>
        <li>4. No copying and plagiarism.</li>
        <br>
        <li>Any actions against these guidelines will result in banning, locking accounts, or other.</li>
      </ul>
      <h5>Pictorama is licensed under the MIT License.</h5>
    </div>
  </body>
</html>