@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body, html {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #30cf5b;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.content {
  padding: 16px;
}

a {
  color: #0a942f;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  text-decoration: underline;
}

nav {
  color: #FFF;
}

.title a {
  text-decoration: none;
  display: inline-block;
}

.title h1 {
  color: #FFF;
  opacity: 0.85;
  transition: 0.325s;
  padding: 7px;
}

.title h1:hover {
  opacity: 1;
}

.nav-links {
  list-style: none;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #32a852;
  width: 100%;
  top: 0;
  padding-right: 10px;
}

.navbar .nav-link {
  color: #FFF;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
  padding: 10px 12px;
}

.navbar .nav-link:hover {
  color: #FFF;
}

.navbar .nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #000;
  bottom: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-link-1:hover:before {
  visibility: visible;
  width: 60%;
}

.navbar .nav-link-2:hover:before {
  visibility: visible;
  width: 56%;
}

.navbar .nav-link-3:hover:before {
  visibility: visible;
  width: 65%;
}

.navbar .nav-link-4:hover:before {
  visibility: visible;
  width: 59%;
}

input {
  background: #45d16a;
  color: #FFF;
  padding: 10px;
  border: 0px #45d16a;
  border-radius: 2.5px;
}

input:hover {
  cursor: pointer;
}

.button {
  transition: 0.5s;
}

.button:hover {
  box-shadow: 10px 10px 5px #aaaaaa;
  transform: scale(1.1, 1.1);
}